#foto 
{
    width: 250px;
    margin: 2rem 0;
    border-radius: 50%
}

#imagen-dotnet 
{
    width: 500px;    
}

.seccion-bienvenida 
{
    margin: 5rem 0 10rem 0;
    color: white;
}

.seccion-bienvenida h1
{
    margin-bottom: 1rem; 
    font-size: 2.45rem;
}

.seccion-bienvenida p
{
    font-family: sans-serif;
    line-height: 1.5;
    font-size: 1.35rem;
}

.cabecera
{
    font-weight: bold;
}

/*Quitando los puntos negros de nuestra lista de habilidades y centralizandolo*/
.habilidades ul
{
    list-style: none;
    padding-left: 0;
}

/*Dandole un color a los iconos de bootstrap*/
.habilidades i
{
    color:#0d6efd;
    font-size:50px 
}

.card-footer a
{
    width:100%;
}
/*Vista flotante post contacto*/
.window-notice 
{
    background: rgba(33, 41, 52, .85);
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    display: flex;
    position: fixed;
    z-index: 999;
}
.window-notice .content 
{
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(33, 41, 52, .75);
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 700px;
    min-width: 320px !important;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 2rem;
    font-size: 1.3rem;
}

#imagen-RemyLogo 
{
    width: 125px;
}

/*formulario de contacto*/
body 
{
    background-color: white;
}

h1 
{
    font-family: 'Poppins', sans-serif, 'arial';
    font-weight: 600;
    font-size: 45px;
    color: black;
    text-align: center;
}

/*h4 
{
    font-family: 'Roboto', sans-serif, 'arial';
    font-weight: 400;
    font-size: 20px;
    color: black;
    line-height: 1.5;
}*/

/* ///// inputs /////*/

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    font-size: 0.77em;
    color: #0d6efd;
    top: -13px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

.styled-input 
{
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}

@media only screen and (max-width: 768px)
{
    .styled-input
    {
        width:100%;
    }
}

.styled-input label 
{
    color: black;
    padding: 0.9rem 30px 1rem 30px;
    position: absolute;
    top: -0rem;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.styled-input.wide 
{ 
    width: 650px;
    max-width: 100%;
}

input,
textarea 
{
    padding: 14px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: whitesmoke;
    color: black;
    border-radius: 4px;
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span 
{
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea 
{
    width: 100%;
    min-height: 15em;
}

.input-container 
{
    
    width: 650px;
    max-width: 100%;
    margin: 10px auto 25px auto;
}

input[type=checkbox] + label 
{
  color: #ccc;
  font-style: italic;
} 

input[type=checkbox]:checked + label 
{
  color: #f00;
  font-style: normal;
}
/*submit-btn formulario de contacto y volver a home*/
.submit-btn {
    background: #0d6efd;
    border: 1px solid #0d6efd;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: 'Poppins', sans-serif, 'arial';
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

    .submit-btn:hover,
    .submit-btn:active {
        background-color: initial;
        background-position: 0 0;
        color: #0d6efd;
    }

    .submit-btn:active {
        opacity: .5;
    }

@media (max-width: 768px) 
{
    .submit-btn {
        width: 100%;
        float: none;
        text-align: center;
    }
}
