<div class="text-center">
    <h1 class="display-4">Hola! Soy Remy Acosta Melo</h1>
    <h2>Soy un Jr. Software Developer en tecnologías Microsoft C#/ASP.NET</h2>
<!--Nuestra imagen con su regla de estilo en custom css-->
    <img id="foto"
         src="~/Imagenes/foto.png" alt="Foto de Remy" />
</div>

<!--Aquí tenemos nuestra sección en la que agregamos nuestra imagen de dotnet, la imagen tiene su regla de estilo en custom css (img dotnet)-->
<div class="text-center">

    <img id="imagen-dotnet"
         src="~/Imagenes/dotnet-imagen-2.png" alt="dotnet logo" />

</div>

<!--Añadimos nuestra columna de bienvenida centralizada con el background azul-->
<div class="row justify-content-center text-center bg-primary @*seccion-contenedora*@">
    <!--Nuestra columna de bienvenida, la seccion-bienvenida tiene su regla de estilo en custom css-->
    <div class="col col-md-7  seccion-bienvenida">
        <h1>Bienvenido a mi portafolio</h1>
        <p>
            Soy un aprendiz de software developer, me he estado preparando en el area de C#/ASP.NET, SQL Server y Entity Framework.
            Deseo poder seguir aprendiendo nuevas tecnologías e ir adquiriendo experiencia en el area para seguir desarrollándome como software developer.

        </p>
    </div>
</div>