@{

    ViewData["Title"] = "Contacto";

}
<div class="window-notice" id="window-notice">
    <div class="content">
        <div class="content-text">
            <h2>Gracias por ponerte en contacto conmigo.</h2>
            <p>Te contestaré el mensaje lo más pronto prosible.</p>
            <a class="submit-btn  text-decoration-none" asp-action="Index" asp-controller="Home">Volver a la página principal</a>

        </div>

    </div>
</div>
